@import "tailwindcss";

/* =========================
   THEME
========================= */
@theme {
  --font-signature: "PhotographSignature";
  --font-sans: "Times New Roman", "Times", "serif";
  --font-horror: "Creepster", system-ui, sans-serif;
  --font-display: "Cormorant Garamond", serif;
  --font-madman: "Madman";

  --color-horror-red: #8b0000;
  --color-horror-purple: #2d004d;
  --color-horror-dark: #0a0a0a;
}

/* =========================
   BASE
========================= */
@layer base {
  body {
    @apply bg-horror-dark text-gray-200 font-sans;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply text-white;
  }
}

/* =========================
   FONTS
========================= */

@font-face {
  font-family: 'PhotographSignature';
  src: url('/fonts/1FTV-Photograph-Signature.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Madman';
  src: url('/fonts/DFVN-TheTypingofaMadman.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
